body {
  background-color: #263238;
  color: #ECEFF1;
}

input::placeholder {
  color: #7D7D7D;
  opacity: 0.5;
}

.form-control::placeholder {
  color: #7D7D7D;
  opacity: 0.5;
}

.primaryButton {
  background: #66BB6A;
  color: white;
  width: 200px;
  border-radius: 20px;
  font-size: 2rem;
}

.primaryButton:hover {
  background: #66BB6A77;
  color: white;
  cursor: pointer;
}

.mainButton {
  color: blwhiteack;
  background-color: #66BB6A;
}

.mainButton:hover {
  filter: brightness(85%);
  /* Dynamically reduce brightness */
}

.secondaryButton {
  background-color: #EF5350;
}

.secondaryButton:hover {
  filter: brightness(85%);
}

a {
  color: white;
  font-weight: 300;
  text-underline-offset: 5px;
}

.Toastify__progress-bar--success {
  background: #1fcfb2; /* !important to force color change */
  /* change success progress bar color to avoid green on green */
}